[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clusterMI"]
	path = clusterMI
	url = https://github.com/cran/clusterMI
[submodule "micemd"]
	path = micemd
	url = https://github.com/cran/micemd
